.wrap {
    padding-top:3%;
    padding-left:13%;
    padding-right:13%;
}

.intro-explanation{
    font-family:"Avenir next",sans-serif;
    font-size:18px;
}

.navbar {
    font-family:"Avenir next",sans-serif;
    font-weight:500;
    letter-spacing: 1px;
    opacity: 0.8;
}

.intro-text {
    margin-top:10%;
    font-family: Georgia, serif;
}

.annie-link {
    text-decoration: none;
    color: inherit;
}

.annie-link:hover {
    background-color: #FBEDDA;
    color: inherit;
}

.connect {
    text-align:center;
}

.bottom {
    position:fixed;
    width:100%;
    padding:2%;
    margin-top:10%;
    background-color: #FBEDDA;
    bottom: 0;
}

.connect-text {
    font-family: "Avenir next", sans-serif;
    font-size: 30px;
    line-height:36px;
    font-weight: 600;
}

#icon {
    font-size: 35px;
    color: black;
    text-decoration: none;
    margin-left: 7px;
    margin-right: 7px;
}

.source-code {
    font-size:17px;
    margin-top:15px;
    margin-bottom:0px;
    text-align: center;
    font-family: "Avenir next", sans-serif;
}

.github {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.github:hover {
    color: inherit;
}

.picture {
    float:left;
    margin-top:10%;
    margin-right:10%;
}

.intro-header {
    margin-top: 12.5%;
    font-family: Georgia,serif;
    color:#418F3D;
}

.introduction {
    font-size:18px;
    font-family: "Avenir next", sans-serif;
}

.hobby {
    font-size:18px;
    font-family: "Avenir next", sans-serif;
}