.wrap {
    padding-top:3%;
    padding-left:13%;
    padding-right:13%;
}

.navbar {
    font-family:"Avenir next",sans-serif;
    font-weight:500;
    letter-spacing: 1px;
    opacity: 0.8;
}

.intro-text {
    margin-top:10%;
    font-family: Georgia, serif;
}

.annie-link {
    text-decoration: none;
    color: inherit;
}

.annie-link:hover {
    color: inherit;
}

.brainstorm:hover {
    background-color: #024B30;
    padding:3px;
    color: #FFF5E5;
}

.design:hover {
    background-color: #e27e6d;
    padding: 3px;
    color: #FFF5E5;
}

.code:hover {
    background-color: #6A74C1;
    padding: 3px;
    color: #FFF5E5;
}

.connect {
    padding:1%;
    text-align:center;
}

.bottom {
    position:absolute;
    width:100%;
    margin-top:50px;
    bottom: 0;
}

.connect-text {
    font-family: "Avenir next", sans-serif;
    font-size: 26px;
    line-height:33px;
    font-weight: 600;
    margin-top: -2.5%;
    margin-bottom: 12px;
}

#icon {
    font-size: 33px;
    color: black;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.source-code {
    font-size:17px;
    margin-top:2px;
    text-align: center;
    font-family: "Avenir next", sans-serif;
    margin-bottom: 25px;
}

.github {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.github:hover {
    color: inherit;
}

.picture {
    float:left;
    margin-top:10%;
    margin-right:8%;
    border-radius: 5%;
}

.intro-header {
    margin-top: 12.5%;
    font-family: Georgia,serif;
    color:#024B30;
}

.introduction {
    font-size:19px;
    font-family: "Avenir next", sans-serif;
}

.hobby {
    display: inline-block;
    margin-left:10px;
    font-family: "Avenir next", sans-serif;
    font-size:19px;
}

.emoji {
    display: inline-block;
    font-size:25px;
}

.skills {
    margin-top: -4.5%;
}

.extras {
    margin-top: -10%;
}

.technologies{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#about {
    font-size:32px;
}